*.log
npm-debug.log*
.pnpm-store
test-local.ts

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# package lock
package-lock.json
pnpm-lock.json
yarn.lock

# project files
test
examples
.babelrc
.DS_Store
.editorconf
.editorconfig
.eslintignore
.eslintrc
.gitignore
.mocharc.json
.travis.yml
tsconfig.json
